/* Google font used: 
font-family: 'Ubuntu', sans-serif; */

/* FPO div reference */

/* div {
    border: .25px solid magenta;
} */

body {
    background-image: url("../images/qbkls.png")
}

#logo {
    height: 100%;
}

h1 {
    color: #f8f9fa;
    font-family: "Ubuntu", sans-serif;
    font-style: italic;
    font-weight: 700;
}